{% assign textAlign = section.settings.sectionTextAlign %}

{% if textAlign == 'nil' %}
    {% assign textAlign = settings.sectionTextAlign %}
{% endif %}

{%- capture slides -%}

    {%- for item in section.settings.setting_blocks.items -%}

        <div class="swiper-slide">

            <div class="swiper-slide-inner">

                {%- if section.settings.orientation == 'horizontal' -%}

                    <div class="d-flex flex-column">

                        {% if item.settings.iconFormat == 'svg' %}

                            {% if item.settings.svgContent %}

                                <div class="text-{{ textAlign }}">

                                    {{- item.settings.svgContent | replace: '<svg ', '<svg class="svg-icon svg-icon-3x" ' -}}

                                </div>

                            {% else %}

                                <div class="aspect-ratio-1-1 align-self-{{ textAlign }}">

                                    <div class="aspect-ratio-container max-w-px-40">

                                        {%- capture imgSrc -%}
                                            {% render 'placeholder-svg', type: 'image', base64: true %}
                                        {%- endcapture -%}

                                        <img class="lazy lazy-disable-transition aspect-ratio-item svg-placeholder" alt="{{ item.settings.title }}" data-src="{{ imgSrc | strip }}">

                                    </div>

                                </div>

                            {% endif %}
                        
                        {% else %}

                            <div class="aspect-ratio-1-1 align-self-{{ textAlign }}">

                                <div class="aspect-ratio-container max-w-px-40">

                                    {% if item.settings.img %}

                                        <img
                                            alt="{{ item.settings.title }}"
                                            data-src="{{ item.settings.img | thumb: '40,40' }}"
                                            data-srcset="{{ item.settings.img | thumb: '40,40' }} 1x,{{ item.settings.img | thumb: '40,40' | thumb:'@2x' }} 2x"
                                            class="lazy aspect-ratio-item"{% if item.settings.img.offset_left or item.settings.img.offset_top %} style="--object-position: {{ item.settings.img.offset_left }}% {{ item.settings.img.offset_top }}%"{% endif %}>

                                    {% else %}

                                        {%- capture imgSrc -%}
                                            {% render 'placeholder-svg', type: 'image', base64: true %}
                                        {%- endcapture -%}

                                        <img class="lazy lazy-disable-transition aspect-ratio-item svg-placeholder" alt="{{ item.settings.title }}" data-src="{{ imgSrc | strip }}">

                                    {% endif %}

                                </div>

                            </div>

                        {% endif %}

                        <div class="mt-g text-{{ textAlign }}">

                            {% if item.settings.title %}

                                <span class="text-title d-block fw-bold{% if item.settings.richtext %} mb-2{% endif %}">
                                    {{ item.settings.title }}
                                </span>

                            {% endif %}

                            {{ item.settings.richtext }}

                        </div>

                    </div>

                {%- else -%}

                    <div class="d-flex justify-content-{{ textAlign }}">

                        <div class="me-g">

                            {% if item.settings.iconFormat == 'svg' %}

                                {% if item.settings.svgContent %}

                                    <div>

                                        {{- item.settings.svgContent | replace: '<svg ', '<svg class="svg-icon svg-icon-3x" ' -}}

                                    </div>

                                {% else %}

                                    <div class="aspect-ratio-1-1">

                                        <div class="aspect-ratio-container max-w-px-40">

                                            {%- capture imgSrc -%}
                                                {% render 'placeholder-svg', type: 'image', base64: true %}
                                            {%- endcapture -%}

                                            <img class="lazy lazy-disable-transition aspect-ratio-item svg-placeholder" alt="{{ item.settings.title }}" data-src="{{ imgSrc | strip }}">

                                        </div>

                                    </div>

                                {% endif %}
                            
                            {% else %}

                                <div class="aspect-ratio-1-1">

                                    <div class="aspect-ratio-container max-w-px-40">

                                        {% if item.settings.img %}

                                            <img
                                                alt="{{ item.settings.title }}"
                                                data-src="{{ item.settings.img | thumb: '40,40' }}"
                                                data-srcset="{{ item.settings.img | thumb: '40,40' }} 1x,{{ item.settings.img | thumb: '40,40' | thumb:'@2x' }} 2x"
                                                class="lazy aspect-ratio-item"{% if item.settings.img.offset_left or item.settings.img.offset_top %} style="--object-position: {{ item.settings.img.offset_left }}% {{ item.settings.img.offset_top }}%"{% endif %}>

                                        {% else %}

                                            {%- capture imgSrc -%}
                                                {% render 'placeholder-svg', type: 'image', base64: true %}
                                            {%- endcapture -%}

                                            <img class="lazy lazy-disable-transition aspect-ratio-item svg-placeholder" alt="{{ item.settings.title }}" data-src="{{ imgSrc | strip }}">

                                        {% endif %}

                                    </div>

                                </div>

                            {% endif %}

                        </div>

                        <div class="text-start">

                            {% if item.settings.title %}

                                <span class="text-title d-block fw-bold{% if item.settings.richtext %} mb-2{% endif %}">
                                    {{ item.settings.title }}
                                </span>

                            {% endif %}

                            {{ item.settings.richtext }}

                        </div>

                    </div>

                {%- endif -%}

            </div>

        </div>

    {%- endfor -%}

{%- endcapture -%}

{%- capture sectionContent -%}

    {%- render 'swiper', slides: slides, pagination: 'on', slidesPerView: section.settings.setting_blocks.items.size, style: 2, paginationPosition: 'relative', evenHeightSlides: true, standalone: true, freemode: true, class: 'swiper-navigation-hide-on-desktop' -%}

{%- endcapture -%}

{% render 'section', section: section, sectionContent: sectionContent %}

{% schema %}
{
    "name": {
        "en": "Icons with text",
        "fi": "Kuvakkeet tekstin kanssa"
    },
    "tag": "section",
    "class": "section section-icons-with-text",
    "category": "theme-basic",
    "settings": {
        "list_type": "tabs",
        "groups": [
            {
                "title": {
                    "en": "Content",
                    "fi": "Sisältö"
                },
                "settings": [
                    {
                        "id": "orientation",
                        "type": "hidden"
                    },
                    {
                        "type": "title",
                        "label": {
                            "en": "Titles",
                            "fi": "Otsikot"
                        }
                    },
                    {
                        "id": "sectionOverline",
                        "type": "text",
                        "label": {
                            "en": "Top title",
                            "fi": "Yläotsikko"
                        }
                    },
                    {
                        "id": "sectionTitle",
                        "type": "text",
                        "label": {
                            "en": "Main title",
                            "fi": "Pääotsikko"
                        }
                    },
                    {
                        "id": "sectionSubtitle",
                        "type": "text",
                        "label": {
                            "en": "Subtitle",
                            "fi": "Alaotsikko"
                        }
                    }
                ]
            },
            {
                "title": {
                    "en": "Columns",
                    "fi": "Sarakkeet"
                },
                "id": "items",
                "max_blocks": 5,
                "call_to_action": {
                    "en": "Add a column",
                    "fi": "Lisää sarake"
                },
                "is_sortable": true,
                "setting_blocks": [
                    {
                        "type": "text",
                        "title": {
                            "en": "Column",
                            "fi": "Sarake"
                        },
                        "settings": [
                            {
                                "id": "iconFormat",
                                "type": "radio-pill",
                                "label": {
                                    "en": "Icon format",
                                    "fi": "Kuvakkeen tyyppi"
                                },
                                "default": "img",
                                "options": [
                                    {
                                        "value": "img",
                                        "label": "IMG"
                                    },
                                    {
                                        "value": "svg",
                                        "label": "SVG"
                                    }
                                ]
                            },
                            {
                                "id": "img",
                                "type": "image-picker",
                                "label": {
                                    "en": "Image",
                                    "fi": "Kuva"
                                }, 
                                "adjustments": true,
                                "conditions": ["iconFormat eq img"]
                            },
                            {
                                "id": "imgAlt",
                                "type": "text",
                                "label": {
                                    "en": "Image alt",
                                    "fi": "Kuvan alt-teksti"
                                },
                                "conditions": ["iconFormat eq img"]
                            },
                            {
                                "id": "svgContent",
                                "type": "text",
                                "label": {
                                    "en": "SVG code",
                                    "fi": "SVG-koodi"
                                },
                                "conditions": ["iconFormat eq svg"]
                            },
                            {
                                "id": "title",
                                "type": "text",
                                "label": {
                                    "en": "Title",
                                    "fi": "Teksti"
                                }
                            },
                            {
                                "id": "richtext",
                                "type": "richtext",
                                "label": {
                                    "en": "Text",
                                    "fi": "Teksti"
                                }
                            }
                        ]
                    }
                ]
            },
            {
                "title": {
                    "en": "Settings",
                    "fi": "Asetukset"
                },
                "settings": [
                    {
                        "type": "title",
                        "label": {
                            "en": "Content",
                            "fi": "Sisältö"
                        }
                    },
                    {
                        "id": "sectionTextAlign",
                        "type": "radio-pill",
                        "label": {
                            "en": "Content align",
                            "fi": "Sisällön tasaus"
                        },
                        "default": "center",
                        "options": [
                            {
                                "value": "nil",
                                "label": "Auto"
                            },
                            {
                                "value": "start",
                                "label": "{# icon.align-start #}"
                            },
                            {
                                "value": "center",
                                "label": "{# icon.align-center #}"
                            },
                            {
                                "value": "end",
                                "label": "{# icon.align-end #}"
                            }
                        ]
                    },
                    {
                        "type": "title",
                        "label": {
                            "en": "SEO",
                            "fi": "SEO"
                        }
                    },
                    {
                        "id": "sectionOverlineTag",
                        "type": "radio-pill",
                        "label": {
                            "en": "Top title SEO priority",
                            "fi": "Yläotsikon SEO-prioriteetti"
                        },
                        "default": "h3",
                        "options": [
                            {
                                "value": "h3",
                                "label": "H3"
                            },
                            {
                                "value": "span",
                                "label": {
                                    "en": "Text",
                                    "fi": "Teksti"
                                }
                            }
                        ]
                    },
                    {
                        "id": "sectionTitleTag",
                        "type": "radio-pill",
                        "label": {
                            "en": "Main title SEO priority",
                            "fi": "Pääotsikon SEO-prioriteetti"
                        },
                        "default": "h2",
                        "options": [
                            {
                                "value": "h1",
                                "label": "H1"
                            },
                            {
                                "value": "h2",
                                "label": "H2"
                            },
                            {
                                "value": "h3",
                                "label": "H3"
                            },
                            {
                                "value": "span",
                                "label": {
                                    "en": "Text",
                                    "fi": "Teksti"
                                }
                            }
                        ]
                    },
                    {
                        "id": "sectionSubtitleTag",
                        "type": "radio-pill",
                        "label": {
                            "en": "Subtitle SEO priority",
                            "fi": "Alaotsikon SEO-prioriteetti"
                        },
                        "default": "h3",
                        "options": [
                            {
                                "value": "h3",
                                "label": "H3"
                            },
                            {
                                "value": "span",
                                "label": {
                                    "en": "Text",
                                    "fi": "Teksti"
                                }
                            }
                        ]
                    },
                    {
                        "type": "title",
                        "label": {
                            "en": "Section",
                            "fi": "Osio"
                        }
                    },
                    {
                        "id": "sectionColorScheme",
                        "type": "select",
                        "label": {
                            "en": "Color color scheme",
                            "fi": "Värityyli"
                        },
                        "options": [
                            {
                                "value": false,
                                "label": {
                                    "en": "Disabled",
                                    "fi": "Pois käytöstä"
                                }
                            },
                            {
                                "value": "1",
                                "label": {
                                    "en": "Color scheme 1",
                                    "fi": "Värityyli 1"
                                }
                            },
                            {
                                "value": "2",
                                "label": {
                                    "en": "Color scheme 2",
                                    "fi": "Värityyli 2"
                                }
                            },
                            {
                                "value": "3",
                                "label": {
                                    "en": "Color scheme 3",
                                    "fi": "Värityyli 3"
                                }
                            },
                            {
                                "value": "4",
                                "label": {
                                    "en": "Color scheme 4",
                                    "fi": "Värityyli 4"
                                }
                            },
                            {
                                "value": "5",
                                "label": {
                                    "en": "Color scheme 5",
                                    "fi": "Värityyli 5"
                                }
                            },
                            {
                                "value": "light",
                                "label": {
                                    "en": "Light background / Dark content",
                                    "fi": "Vaalea tausta / Tumma sisältö"
                                }
                            },
                            {
                                "value": "dark",
                                "label": {
                                    "en": "Dark background / Light content",
                                    "fi": "Tumma tausta / Vaalea sisältö"
                                }
                            },
                            {
                                "value": "accent",
                                "label": {
                                    "en": "Accent background / Adaptive content",
                                    "fi": "Korostus tausta / Mukautuva sisältö"
                                }
                            }
                        ]
                    },
                    {
                        "id": "sectionPaddingMode",
                        "type": "radio-pill",
                        "label": {
                            "en": "Padding",
                            "fi": "Välit"
                        },
                        "default": "auto",
                        "options": [
                            {
                                "value": "auto",
                                "label": "Auto"
                            },
                            {
                                "value": "custom",
                                "label": {
                                    "en": "Custom",
                                    "fi": "Mukautettu"
                                }
                            }
                        ]
                    },
                    {
                        "id": "sectionPaddingTop",
                        "label": {
                            "en": "Padding top",
                            "fi": "Väli ylhäällä"
                        },
                        "type": "range",
                        "min": 0,
                        "max": 15,
                        "step": 1,
                        "default": "0",
                        "unit": "rem",
                        "conditions": ["sectionPaddingMode eq custom"]
                    },
                    {
                        "id": "sectionPaddingBottom",
                        "label": {
                            "en": "Padding bottom",
                            "fi": "Väli alhaalla"
                        },
                        "type": "range",
                        "min": 0,
                        "max": 15,
                        "step": 1,
                        "default": "0",
                        "unit": "rem",
                        "conditions": ["sectionPaddingMode eq custom"]
                    },
                    {
                        "id": "sectionBgImg",
                        "type": "image-picker",
                        "label": {
                            "en": "Background image",
                            "fi": "Taustakuva"
                        },
                        "adjustments": true
                    },
                    {
                        "id": "sectionBgImgDimming",
                        "label": {
                            "en": "Image dimming",
                            "fi": "Kuvan tummennus"
                        },
                        "type": "range",
                        "min": 0,
                        "max": 90,
                        "step": 5,
                        "default": "0",
                        "unit": "%"
                    },
                    {
                        "id": "sectionBgImgBlur",
                        "label": {
                            "en": "Image blur",
                            "fi": "Kuvan sumentaminen"
                        },
                        "type": "range",
                        "min": 0,
                        "max": 10,
                        "step": 1,
                        "default": "0",
                        "unit": " "
                    }
                ]
            }
        ]
    },
    "presets": [
        {
            "settings": {
                "orientation": "horizontal",
                "setting_blocks": {
                    "items": [
                        {
                            "type": "text",
                            "settings": {
                                "title": "Heading",
                                "richtext": "<p>Pair icon with a text.<\/p>",
                                "iconFormat": "img"
                            }
                        },
                        {
                            "type": "text",
                            "settings": {
                                "title": "Heading",
                                "richtext": "<p>Pair icon with a text.<\/p>",
                                "iconFormat": "img"
                            }
                        },
                        {
                            "type": "text",
                            "settings": {
                                "title": "Heading",
                                "richtext": "<p>Pair icon with a text.<\/p>",
                                "iconFormat": "img"
                            }
                        },
                        {
                            "type": "text",
                            "settings": {
                                "title": "Heading",
                                "richtext": "<p>Pair icon with a text.<\/p>",
                                "iconFormat": "img"
                            }
                        }
                    ]
                }
            }
        },
        {
            "settings": {
                "orientation": "vertical",
                "setting_blocks": {
                    "items": [
                        {
                            "type": "text",
                            "settings": {
                                "title": "Heading",
                                "richtext": "<p>Pair icon with a text.<\/p>",
                                "iconFormat": "img"
                            }
                        },
                        {
                            "type": "text",
                            "settings": {
                                "title": "Heading",
                                "richtext": "<p>Pair icon with a text.<\/p>",
                                "iconFormat": "img"
                            }
                        },
                        {
                            "type": "text",
                            "settings": {
                                "title": "Heading",
                                "richtext": "<p>Pair icon with a text.<\/p>",
                                "iconFormat": "img"
                            }
                        },
                        {
                            "type": "text",
                            "settings": {
                                "title": "Heading",
                                "richtext": "<p>Pair icon with a text.<\/p>",
                                "iconFormat": "img"
                            }
                        }
                    ]
                }
            }
        },
        {
            "orientation": "horizontal",
            "settings": {
                "setting_blocks": {
                    "items": [
                        {
                            "type": "text",
                            "settings": {
                                "title": "Heading",
                                "richtext": "<p>Pair icon with a text.<\/p>",
                                "iconFormat": "svg",
                                "svgContent": "<svg xmlns=\"http:\/\/www.w3.org\/2000\/svg\" fill=\"none\" viewBox=\"0 0 14 14\"><g id=\"shipping-truck--truck-shipping-delivery-transfer\"><path id=\"Vector\" stroke=\"currentcolor\" stroke-linecap=\"round\" stroke-linejoin=\"round\" d=\"M8.5 5.5h3c0.5304 0 1.0391 0.21071 1.4142 0.58579 0.3751 0.37507 0.5858 0.88378 0.5858 1.41421v4H12\" stroke-width=\"1\"><\/path><path id=\"Vector_2\" stroke=\"currentcolor\" stroke-linecap=\"round\" stroke-linejoin=\"round\" d=\"M1.5 11.5h-1v-7c0 -0.26522 0.105357 -0.51957 0.292893 -0.70711C0.98043 3.60536 1.23478 3.5 1.5 3.5h6c0.26522 0 0.51957 0.10536 0.70711 0.29289 0.18753 0.18754 0.29289 0.44189 0.29289 0.70711v7\" stroke-width=\"1\"><\/path><path id=\"Vector_3\" stroke=\"currentcolor\" stroke-linecap=\"round\" stroke-linejoin=\"round\" d=\"M8 11.5H5.5\" stroke-width=\"1\"><\/path><path id=\"Vector_4\" stroke=\"currentcolor\" stroke-linecap=\"round\" stroke-linejoin=\"round\" d=\"M10.25 13.5c-0.9665 0 -1.75 -0.7835 -1.75 -1.75S9.2835 10 10.25 10s1.75 0.7835 1.75 1.75 -0.7835 1.75 -1.75 1.75Z\" stroke-width=\"1\"><\/path><path id=\"Vector_5\" stroke=\"currentcolor\" stroke-linecap=\"round\" stroke-linejoin=\"round\" d=\"M3.5 13.5c-0.9665 0 -1.75 -0.7835 -1.75 -1.75S2.5335 10 3.5 10s1.75 0.7835 1.75 1.75 -0.7835 1.75 -1.75 1.75Z\" stroke-width=\"1\"><\/path><\/g><\/svg>"
                            }
                        },
                        {
                            "type": "text",
                            "settings": {
                                "title": "Heading",
                                "richtext": "<p>Pair icon with a text.<\/p>",
                                "iconFormat": "svg",
                                "svgContent": "<svg xmlns=\"http:\/\/www.w3.org\/2000\/svg\" fill=\"none\" viewBox=\"0 0 14 14\"><g id=\"return-2--arrow-return-enter-keyboard\"><path id=\"Vector\" stroke=\"currentcolor\" stroke-linecap=\"round\" stroke-linejoin=\"round\" d=\"M0.5 9.5h9c1.0609 0 2.0783 -0.42143 2.8284 -1.17157C13.0786 7.57828 13.5 6.56087 13.5 5.5s-0.4214 -2.07828 -1.1716 -2.82843C11.5783 1.92143 10.5609 1.5 9.5 1.5h-3\" stroke-width=\"1\"><\/path><path id=\"Vector_2\" stroke=\"currentcolor\" stroke-linecap=\"round\" stroke-linejoin=\"round\" d=\"m3.5 6.5 -3 3 3 3\" stroke-width=\"1\"><\/path><\/g><\/svg>"
                            }
                        },
                        {
                            "type": "text",
                            "settings": {
                                "title": "Heading",
                                "richtext": "<p>Pair icon with a text.<\/p>",
                                "iconFormat": "svg",
                                "svgContent": "<svg xmlns=\"http:\/\/www.w3.org\/2000\/svg\" fill=\"none\" viewBox=\"0 0 14 14\"><g id=\"customer-support-1--customer-headset-help-microphone-phone-support\"><path id=\"Vector\" stroke=\"currentcolor\" stroke-linecap=\"round\" stroke-linejoin=\"round\" d=\"M3 7.00002v-2.63c0.00781 -0.51697 0.11755 -1.02731 0.32294 -1.5018 0.20538 -0.47448 0.50238 -0.90377 0.87396 -1.26328 0.37158 -0.3595 0.81045 -0.642155 1.29146 -0.831758C5.96936 0.58358 6.48306 0.490753 7 0.500021 7.51694 0.490753 8.03064 0.58358 8.51164 0.773182c0.48101 0.189603 0.91988 0.472258 1.29146 0.831758 0.3716 0.35951 0.6686 0.7888 0.874 1.26328 0.2053 0.47449 0.3151 0.98483 0.3229 1.5018v2.63\" stroke-width=\"1\"><\/path><path id=\"Vector_2\" stroke=\"currentcolor\" stroke-linecap=\"round\" stroke-linejoin=\"round\" d=\"M1.5 5.5h1c0.13261 0 0.25979 0.05268 0.35355 0.14645C2.94732 5.74021 3 5.86739 3 6v3c0 0.13261 -0.05268 0.25979 -0.14645 0.35355C2.75979 9.44732 2.63261 9.5 2.5 9.5h-1c-0.26522 0 -0.51957 -0.10536 -0.707107 -0.29289C0.605357 9.01957 0.5 8.76522 0.5 8.5v-2c0 -0.26522 0.105357 -0.51957 0.292893 -0.70711C0.98043 5.60536 1.23478 5.5 1.5 5.5v0Z\" stroke-width=\"1\"><\/path><path id=\"Vector_3\" stroke=\"currentcolor\" stroke-linecap=\"round\" stroke-linejoin=\"round\" d=\"M12.5 9.5h-1c-0.1326 0 -0.2598 -0.05268 -0.3536 -0.14645C11.0527 9.25979 11 9.13261 11 9V6c0 -0.13261 0.0527 -0.25979 0.1464 -0.35355 0.0938 -0.09377 0.221 -0.14645 0.3536 -0.14645h1c0.2652 0 0.5196 0.10536 0.7071 0.29289 0.1875 0.18754 0.2929 0.44189 0.2929 0.70711v2c0 0.26522 -0.1054 0.51957 -0.2929 0.70711 -0.1875 0.18753 -0.4419 0.29289 -0.7071 0.29289v0Z\" stroke-width=\"1\"><\/path><path id=\"Vector_4\" stroke=\"currentcolor\" stroke-linecap=\"round\" stroke-linejoin=\"round\" d=\"M9 12.25c0.53043 0 1.0391 -0.2107 1.4142 -0.5858S11 10.7804 11 10.25V8\" stroke-width=\"1\"><\/path><path id=\"Vector_5\" stroke=\"currentcolor\" stroke-linecap=\"round\" stroke-linejoin=\"round\" d=\"M9 12.25c0 0.3315 -0.1317 0.6495 -0.36612 0.8839 -0.23442 0.2344 -0.55236 0.3661 -0.88388 0.3661h-1.5c-0.33152 0 -0.64946 -0.1317 -0.88388 -0.3661C5.1317 12.8995 5 12.5815 5 12.25s0.1317 -0.6495 0.36612 -0.8839C5.60054 11.1317 5.91848 11 6.25 11h1.5c0.33152 0 0.64946 0.1317 0.88388 0.3661 0.23442 0.2344 0.36612 0.5524 0.36612 0.8839Z\" stroke-width=\"1\"><\/path><\/g><\/svg>"
                            }
                        },
                        {
                            "type": "text",
                            "settings": {
                                "title": "Heading",
                                "richtext": "<p>Pair icon with a text.<\/p>",
                                "iconFormat": "svg",
                                "svgContent": "<svg xmlns=\"http:\/\/www.w3.org\/2000\/svg\" fill=\"none\" viewBox=\"0 0 14 14\"><g id=\"credit-card-1--credit-pay-payment-debit-card-finance-plastic-money-atm\"><path id=\"Vector\" stroke=\"currentColor\" stroke-linecap=\"round\" stroke-linejoin=\"round\" d=\"M12.5 2.25h-11c-0.552285 0 -1 0.44772 -1 1v7.5c0 0.5523 0.447715 1 1 1h11c0.5523 0 1 -0.4477 1 -1v-7.5c0 -0.55228 -0.4477 -1 -1 -1Z\" stroke-width=\"1\"><\/path><path id=\"Vector_2\" stroke=\"currentColor\" stroke-linecap=\"round\" stroke-linejoin=\"round\" d=\"M0.5 5.75h13\" stroke-width=\"1\"><\/path><path id=\"Vector_3\" stroke=\"currentColor\" stroke-linecap=\"round\" stroke-linejoin=\"round\" d=\"M9.5 9.25H11\" stroke-width=\"1\"><\/path><\/g><\/svg>"
                            }
                        }
                    ]
                }
            }
        },
        {
            "orientation": "vertical",
            "settings": {
                "setting_blocks": {
                    "items": [
                        {
                            "type": "text",
                            "settings": {
                                "title": "Heading",
                                "richtext": "<p>Pair icon with a text.<\/p>",
                                "iconFormat": "svg",
                                "svgContent": "<svg xmlns=\"http:\/\/www.w3.org\/2000\/svg\" fill=\"none\" viewBox=\"0 0 14 14\"><g id=\"shipping-truck--truck-shipping-delivery-transfer\"><path id=\"Vector\" stroke=\"currentcolor\" stroke-linecap=\"round\" stroke-linejoin=\"round\" d=\"M8.5 5.5h3c0.5304 0 1.0391 0.21071 1.4142 0.58579 0.3751 0.37507 0.5858 0.88378 0.5858 1.41421v4H12\" stroke-width=\"1\"><\/path><path id=\"Vector_2\" stroke=\"currentcolor\" stroke-linecap=\"round\" stroke-linejoin=\"round\" d=\"M1.5 11.5h-1v-7c0 -0.26522 0.105357 -0.51957 0.292893 -0.70711C0.98043 3.60536 1.23478 3.5 1.5 3.5h6c0.26522 0 0.51957 0.10536 0.70711 0.29289 0.18753 0.18754 0.29289 0.44189 0.29289 0.70711v7\" stroke-width=\"1\"><\/path><path id=\"Vector_3\" stroke=\"currentcolor\" stroke-linecap=\"round\" stroke-linejoin=\"round\" d=\"M8 11.5H5.5\" stroke-width=\"1\"><\/path><path id=\"Vector_4\" stroke=\"currentcolor\" stroke-linecap=\"round\" stroke-linejoin=\"round\" d=\"M10.25 13.5c-0.9665 0 -1.75 -0.7835 -1.75 -1.75S9.2835 10 10.25 10s1.75 0.7835 1.75 1.75 -0.7835 1.75 -1.75 1.75Z\" stroke-width=\"1\"><\/path><path id=\"Vector_5\" stroke=\"currentcolor\" stroke-linecap=\"round\" stroke-linejoin=\"round\" d=\"M3.5 13.5c-0.9665 0 -1.75 -0.7835 -1.75 -1.75S2.5335 10 3.5 10s1.75 0.7835 1.75 1.75 -0.7835 1.75 -1.75 1.75Z\" stroke-width=\"1\"><\/path><\/g><\/svg>"
                            }
                        },
                        {
                            "type": "text",
                            "settings": {
                                "title": "Heading",
                                "richtext": "<p>Pair icon with a text.<\/p>",
                                "iconFormat": "svg",
                                "svgContent": "<svg xmlns=\"http:\/\/www.w3.org\/2000\/svg\" fill=\"none\" viewBox=\"0 0 14 14\"><g id=\"return-2--arrow-return-enter-keyboard\"><path id=\"Vector\" stroke=\"currentcolor\" stroke-linecap=\"round\" stroke-linejoin=\"round\" d=\"M0.5 9.5h9c1.0609 0 2.0783 -0.42143 2.8284 -1.17157C13.0786 7.57828 13.5 6.56087 13.5 5.5s-0.4214 -2.07828 -1.1716 -2.82843C11.5783 1.92143 10.5609 1.5 9.5 1.5h-3\" stroke-width=\"1\"><\/path><path id=\"Vector_2\" stroke=\"currentcolor\" stroke-linecap=\"round\" stroke-linejoin=\"round\" d=\"m3.5 6.5 -3 3 3 3\" stroke-width=\"1\"><\/path><\/g><\/svg>"
                            }
                        },
                        {
                            "type": "text",
                            "settings": {
                                "title": "Heading",
                                "richtext": "<p>Pair icon with a text.<\/p>",
                                "iconFormat": "svg",
                                "svgContent": "<svg xmlns=\"http:\/\/www.w3.org\/2000\/svg\" fill=\"none\" viewBox=\"0 0 14 14\"><g id=\"customer-support-1--customer-headset-help-microphone-phone-support\"><path id=\"Vector\" stroke=\"currentcolor\" stroke-linecap=\"round\" stroke-linejoin=\"round\" d=\"M3 7.00002v-2.63c0.00781 -0.51697 0.11755 -1.02731 0.32294 -1.5018 0.20538 -0.47448 0.50238 -0.90377 0.87396 -1.26328 0.37158 -0.3595 0.81045 -0.642155 1.29146 -0.831758C5.96936 0.58358 6.48306 0.490753 7 0.500021 7.51694 0.490753 8.03064 0.58358 8.51164 0.773182c0.48101 0.189603 0.91988 0.472258 1.29146 0.831758 0.3716 0.35951 0.6686 0.7888 0.874 1.26328 0.2053 0.47449 0.3151 0.98483 0.3229 1.5018v2.63\" stroke-width=\"1\"><\/path><path id=\"Vector_2\" stroke=\"currentcolor\" stroke-linecap=\"round\" stroke-linejoin=\"round\" d=\"M1.5 5.5h1c0.13261 0 0.25979 0.05268 0.35355 0.14645C2.94732 5.74021 3 5.86739 3 6v3c0 0.13261 -0.05268 0.25979 -0.14645 0.35355C2.75979 9.44732 2.63261 9.5 2.5 9.5h-1c-0.26522 0 -0.51957 -0.10536 -0.707107 -0.29289C0.605357 9.01957 0.5 8.76522 0.5 8.5v-2c0 -0.26522 0.105357 -0.51957 0.292893 -0.70711C0.98043 5.60536 1.23478 5.5 1.5 5.5v0Z\" stroke-width=\"1\"><\/path><path id=\"Vector_3\" stroke=\"currentcolor\" stroke-linecap=\"round\" stroke-linejoin=\"round\" d=\"M12.5 9.5h-1c-0.1326 0 -0.2598 -0.05268 -0.3536 -0.14645C11.0527 9.25979 11 9.13261 11 9V6c0 -0.13261 0.0527 -0.25979 0.1464 -0.35355 0.0938 -0.09377 0.221 -0.14645 0.3536 -0.14645h1c0.2652 0 0.5196 0.10536 0.7071 0.29289 0.1875 0.18754 0.2929 0.44189 0.2929 0.70711v2c0 0.26522 -0.1054 0.51957 -0.2929 0.70711 -0.1875 0.18753 -0.4419 0.29289 -0.7071 0.29289v0Z\" stroke-width=\"1\"><\/path><path id=\"Vector_4\" stroke=\"currentcolor\" stroke-linecap=\"round\" stroke-linejoin=\"round\" d=\"M9 12.25c0.53043 0 1.0391 -0.2107 1.4142 -0.5858S11 10.7804 11 10.25V8\" stroke-width=\"1\"><\/path><path id=\"Vector_5\" stroke=\"currentcolor\" stroke-linecap=\"round\" stroke-linejoin=\"round\" d=\"M9 12.25c0 0.3315 -0.1317 0.6495 -0.36612 0.8839 -0.23442 0.2344 -0.55236 0.3661 -0.88388 0.3661h-1.5c-0.33152 0 -0.64946 -0.1317 -0.88388 -0.3661C5.1317 12.8995 5 12.5815 5 12.25s0.1317 -0.6495 0.36612 -0.8839C5.60054 11.1317 5.91848 11 6.25 11h1.5c0.33152 0 0.64946 0.1317 0.88388 0.3661 0.23442 0.2344 0.36612 0.5524 0.36612 0.8839Z\" stroke-width=\"1\"><\/path><\/g><\/svg>"
                            }
                        },
                        {
                            "type": "text",
                            "settings": {
                                "title": "Heading",
                                "richtext": "<p>Pair icon with a text.<\/p>",
                                "iconFormat": "svg",
                                "svgContent": "<svg xmlns=\"http:\/\/www.w3.org\/2000\/svg\" fill=\"none\" viewBox=\"0 0 14 14\"><g id=\"credit-card-1--credit-pay-payment-debit-card-finance-plastic-money-atm\"><path id=\"Vector\" stroke=\"currentColor\" stroke-linecap=\"round\" stroke-linejoin=\"round\" d=\"M12.5 2.25h-11c-0.552285 0 -1 0.44772 -1 1v7.5c0 0.5523 0.447715 1 1 1h11c0.5523 0 1 -0.4477 1 -1v-7.5c0 -0.55228 -0.4477 -1 -1 -1Z\" stroke-width=\"1\"><\/path><path id=\"Vector_2\" stroke=\"currentColor\" stroke-linecap=\"round\" stroke-linejoin=\"round\" d=\"M0.5 5.75h13\" stroke-width=\"1\"><\/path><path id=\"Vector_3\" stroke=\"currentColor\" stroke-linecap=\"round\" stroke-linejoin=\"round\" d=\"M9.5 9.25H11\" stroke-width=\"1\"><\/path><\/g><\/svg>"
                            }
                        }
                    ]
                }
            }
        }
    ]
}
{% endschema %}